{% trans_default_domain 'bbs' %}
<li class="nav-item dropdown{% if nav_top == 'bbs_message' %} active{% endif %}">
    <a class="nav-link dropdown-toggle" href="#" data-toggle-target="menu-item-message" aria-expanded="false"><i class="fas fa-mail-bulk"></i>&nbsp;{% trans %}link.messages{% endtrans %}</a>
    <ul class="dropdown-menu" id="menu-item-message" aria-labelledby="dropdown01">
        <li>
            <a class="dropdown-item{% if nav_top == 'bbs_message' %} active{% endif %}" href="{{ path('message_mail_list') }}"><i class="far fa-envelope"></i>&nbsp;{% trans %}link.mail{% endtrans %}</a>
        </li>
        <li>
            <a class="dropdown-item{% if nav_top == 'bbs_message' %} active{% endif %}" href="{{ path('message_discussion_list') }}"><i class="far fa-comments"></i>&nbsp;{% trans %}link.discussion{% endtrans %}</a>
        </li>
    </ul>
</li>

