{% trans_default_domain 'bbs' %}
<li class="nav-item">
    <a class="nav-link{% if nav_top == 'bbs_settings' %} active{% endif %}" href="{{ path('bbs_settings_show') }}"><i class="fas fa-cog"></i>&nbsp;{% trans %}link.settings{% endtrans %}</a>
</li>
