{% trans_default_domain 'bbs' %}
<li class="nav-item">
    <a class="nav-link" href="{{ path('bbs_thread_list') }}"><i class="far fa-fw fa-comment-dots"></i>&nbsp;{% trans %}link.messages{% endtrans %}</a>
</li>