{% trans_default_domain 'bbs' %}
<li class="nav-item">
    <a class="nav-link{% if nav_top == 'bbs_profile' %} active{% endif %}" href="{{ path('profile_own') }}"><i class="far fa-id-card"></i>&nbsp;{% trans %}link.profile{% endtrans %}</a>
</li>
