{% set nav_top = 'account-login' %}
{% set nav_sub = '-' %}
{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{% trans %}title.account.sign-in{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}title.account.sign-in{% endtrans %}</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('account_login') }}" method="post">
        <div class="mb-3">
            <label for="username">{% trans %}form.username{% endtrans %}</label>
            <input type="text" name="_username" class="form-control" id="username" placeholder="{% trans %}form.username{% endtrans %}" value="{{ last_username }}">
        </div>
        <div class="mb-3">
            <label for="password">{% trans %}form.password{% endtrans %}</label>
            <input type="password" name="_password" class="form-control" id="password" placeholder="{% trans %}form.password{% endtrans %}">
        </div>
        <div class="mb-3">
            <label><input type="checkbox" value="remember-me"> {% trans %}form.remember-me{% endtrans %}</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">{% trans %}btn.account.sign-in{% endtrans %}</button>
    </form>
{% endblock %}
