{% set nav_top = 'account_impersonate' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}base.title.impersonate{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}base.title.impersonate{% endtrans %}</h1>

<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">Name</th>
        <th scope="col">Rollen</th>
    </tr>
    </thead>
    <tbody>
{% for user in users %}
    <tr>
        <td>
            {% if user.username != app.user.handle %}
            <a href="{{ path('index_index', {_switch_user:user.username}) }}" class="btn btn-outline-dark" title="{% trans %}base.btn.impersonate{% endtrans %}"><i class="fas fa-people-arrows"></i></a>
            {% else %}
                <button class="btn btn-outline-dark" disabled><i class="fas fa-people-arrows"></i></button>
            {% endif %}
        </td>
        <td>{{ user.username }}</td>
        <td>{% for role in user.roles %}
                {{ role }}
            {% endfor %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}

