{% set nav_top = 'account_login' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}security.title.login{% endtrans %}{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{% trans %}security.title.login{% endtrans %}</h1>

        <div class="form-group">
            <label for="inputHandle">{% trans %}security.form.username{% endtrans %}</label>
            <input type="text" value="{{ last_username }}" name="handle" id="inputHandle" class="form-control" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword">{% trans %}security.form.password{% endtrans %}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <div class="form-group">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>

        <button class="btn btn-lg btn-primary" type="submit">
            {% trans %}security.form.signin{% endtrans %}
        </button>
    </form>
{% endblock %}
