{% set nav_top = 'account_register' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}base.title.register{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}base.title.register{% endtrans %}</h1>

    {{ form(form) }}

{% endblock %}