{% set nav_top = 'bbs_contact' %}
{% trans_default_domain 'bbs' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.contacts{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.contacts{% endtrans %}</h1>

    {% if contacts %}
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">{% trans %}form.name{% endtrans %}</th>
        <th scope="col">{% trans %}form.circles{% endtrans %}</th>
        <th scope="col">{% trans %}form.created{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
        <tr>
            <td>
                <a href="{{ path('contact_show', {id : contact.id}) }}" class="btn btn-outline-dark" title="{% trans %}btn.view{% endtrans %}"><i class="fa-fw far fa-eye"></i></a>
            </td>
            <td>{{ contact.contact.handle }}</td>
            <td>{% for circle in contact.circles %}{{ circle.name }}{% endfor %}</td>
            <td>{{ contact.contact.createdOn|format_datetime('medium', 'none', locale='de') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    {% else %}
        <p>{% trans %}message.nocontacts{% endtrans %}</p>
    {% endif %}

{% endblock %}

