{% set nav_top = 'bbs_contacts' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}bbs.title.contacts{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}bbs.title.contacts{% endtrans %}</h1>
{% endblock %}

