# IDE settings
/.idea/

# Email Spool Folder

# Cache
/var/cache/*
!var/cache/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Vendor Components
/vendor/

###> symfony/framework-bundle ###
.env.local
.env.*.local

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
/bin/.phpunit/
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
