# IDE settings
/.idea/

# Email Spool Folder

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Vendor Components
/vendor/

# Embedded web-server pid file
/.web-server-pid
/.env.local
/.env.test

###> symfony/framework-bundle ###
.env.local
.env.*.local

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
