{% set nav_top = 'contact' %}
{% set nav_sub = 'invitation-accept' %}
{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{% trans %}title.invitation.accept{% endtrans %}{% endblock %}

{% block content %}
<h1>{% trans %}title.invitation.accept{% endtrans %}</h1>

<p>{% trans %}message.invitation.accept{% endtrans %}</p>

    <p id="scanner-button-on"><button class="btn btn-primary" onclick="switchScanner()"><i class="bi-qr-code"></i>&nbsp;{% trans %}btn.readQRCode-on{% endtrans %}</button></p>
    <p id="scanner-button-off" style="display:none"><button class="btn btn-danger" onclick="switchScanner()"><i class="bi-qr-code"></i>&nbsp;{% trans %}btn.readQRCode-off{% endtrans %}</button></p>
    <div id="scanner-container" class="container" style="display:none">
        <video id="qrReaderVideo" style="width:100%; height:auto"></video>
        <canvas id="qrReaderImage" style="display:none"></canvas>
    </div>
    <p id="scanner-feedback-success" style="display:none"><b>{% trans %}message.invitation.qrcode-accepted{% endtrans %}</b></p>
    <p id="scanner-feedback-failure" style="display:none"><b>{% trans %}message.invitation.qrcode-denied{% endtrans %}</b></p>

<p>{% trans %}message.invitation.accept-code{% endtrans %}</p>

<form name="form" method="post">
    <input type="hidden" id="form__token" name="form[_token]" value="{{ form._token.vars.value }}" />
    <div id="form">
        <div class="input-group mb-3">
            <span class="input-group-text">{% trans %}form.invitationcode{% endtrans %}</span>
            <input type="text" id="form_1" name="form[1]" required="required" minlength="4" maxlength="4" class="form-control" />
            <input type="text" id="form_2" name="form[2]" required="required" minlength="4" maxlength="4" class="form-control" />
            <input type="text" id="form_3" name="form[3]" required="required" minlength="4" maxlength="4" class="form-control" />
            <input type="text" id="form_4" name="form[4]" required="required" minlength="4" maxlength="4" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <button type="submit" id="form_send" name="form[send]" class="btn-primary btn">{% trans %}btn.send{% endtrans %}</button>
    </div>
    </div>
</form>
    <script>
        let scanning = false;
        let worker;
        let acceptedURL = '{{ acceptedURL }}';

        function checkForQrCode(video) {
            if (video.readyState !== video.HAVE_ENOUGH_DATA) {
                return;
            }

            const qrReaderImage = document.getElementById('qrReaderImage');
            const height = qrReaderImage.height = video.videoHeight;
            const width = qrReaderImage.width = video.videoWidth;

            // capture picture from video stream
            qrReaderImage.getContext('2d').drawImage(video, 0, 0, width, height);
            const { data } = qrReaderImage.getContext('2d').getImageData(0, 0, width, height);

            // search qr code in captured picture
            const code = jsQR(data, width, height);

            // jump to page if qr code found and is a valid accept-URL
            if (code && code.data.length > 1) {
                if (code.data.match(acceptedURL)) {
                    invitationAccepted()
                    document.location.href = code.data;
                } else {
                    invitationDenied();
                }
            }
        }

        async function readQrCode() {
            const qrReaderVideo = document.getElementById('qrReaderVideo');

            const stream = await navigator.mediaDevices.getUserMedia({
                video: { facingMode: 'environment' },
                audio: false,
            });

            qrReaderVideo.srcObject = stream;
            qrReaderVideo.play();

            worker = setInterval(() => checkForQrCode(qrReaderVideo), 250);
        }

        async function stopReading() {
            clearInterval(worker);
            document.getElementById('qrReaderVideo').srcObject = null;
        }

        function switchScanner() {
            if(false == scanning) {
                scanning = true;
                document.getElementById('scanner-button-on').style.display='none';
                document.getElementById('scanner-button-off').style.display='block';
                document.getElementById('scanner-container').style.display='block';
                document.getElementById('scanner-feedback-failure').style.display='none';
                readQrCode();
            } else {
                scanning = false;
                document.getElementById('scanner-button-on').style.display='block';
                document.getElementById('scanner-button-off').style.display='none';
                document.getElementById('scanner-container').style.display='none';
                stopReading();
            }
        }

        function invitationAccepted() {
            scanning = false;
            document.getElementById('scanner-button-on').style.display='none';
            document.getElementById('scanner-button-off').style.display='none';
            document.getElementById('scanner-container').style.display='none';
            document.getElementById('scanner-feedback-success').style.display='block';
            document.getElementById('scanner-feedback-failure').style.display='none';
            stopReading();
        }

        function invitationDenied() {
            scanning = false;
            document.getElementById('scanner-button-on').style.display='block';
            document.getElementById('scanner-button-off').style.display='none';
            document.getElementById('scanner-container').style.display='none';
            document.getElementById('scanner-feedback-success').style.display='none';
            document.getElementById('scanner-feedback-failure').style.display='block';
            stopReading();
        }
    </script>
{% endblock %}

