{% set nav_top = 'contacts' %}
{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block content %}
<h1>{% trans %}title.invitation.accept{% endtrans %}</h1>

<p>{% trans %}message.invitation.accept{% endtrans %}</p>

<form name="form" method="post">
    <input type="hidden" id="form__token" name="form[_token]" value="{{ form._token.vars.value }}" />
    <div id="form">
        <div class="input-group mb-3">
            <span class="input-group-text">{% trans %}form.invitationcode{% endtrans %}</span>
            <input type="text" id="form_1" name="form[1]" required="required" minlength="4" maxlength="4" class="form-control" />
            <input type="text" id="form_2" name="form[2]" required="required" minlength="4" maxlength="4" class="form-control" />
            <input type="text" id="form_3" name="form[3]" required="required" minlength="4" maxlength="4" class="form-control" />
            <input type="text" id="form_4" name="form[4]" required="required" minlength="4" maxlength="4" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <button type="submit" id="form_send" name="form[send]" class="btn-primary btn">{% trans %}btn.send{% endtrans %}</button>
    </div>
    </div>
</form>
{% endblock %}

