{% set nav_top = 'bbs_contact' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}bbs.title.circles{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}bbs.title.circles{% endtrans %}</h1>

    {{ form(form) }}
{% endblock %}

