{% set nav_top = 'bbs_contact' %}
{% trans_default_domain 'bbs' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.circles{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.circles{% endtrans %}</h1>

    {{ form(form) }}
{% endblock %}

