{% set nav_top = 'stuff' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}item.title.createstuff{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}item.title.createstuff{% endtrans %}</h1>

    {{ form(form) }}

{% endblock %}