{% set nav_top = 'imprint' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}base.title.imprint{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}base.title.imprint{% endtrans %}</h1>
{% endblock %}

