{% set nav_top = 'imprint' %}
{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{% trans %}title.imprint{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}title.imprint{% endtrans %}</h1>
    <p>index::imprint</p>
{% endblock %}