{% set nav_top = 'imprint' %}
{% set nav_sub = '-' %}
{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{% trans %}title.imprint{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}title.imprint{% endtrans %}</h1>
    {% if app.request.locale == 'de' %}
        <p>Bitte hier das Impressum hinterlegen, bevor der Service live geschaltet wird.</p>
    {% else %}
        <p>Please insert the imprint, before going live with this service.</p>
    {% endif %}
{% endblock %}