{% set nav_top = 'imprint' %}
{% trans_default_domain 'base' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.imprint{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}title.imprint{% endtrans %}</h1>
{% endblock %}

