{% set nav_top = 'index' %}
{% set nav_sub = '-' %}
{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{% trans %}title.index{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}title.index{% endtrans %}</h1>
    {% if app.request.locale == 'de' %}
        Index auf Deutsch
    {% else %}
        Index in english
    {% endif %}
{% endblock %}