{% set nav_top = 'privacy' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}base.title.privacy{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}base.title.privacy{% endtrans %}</h1>
{% endblock %}

