{% set nav_top = 'terms' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}base.title.terms{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}base.title.terms{% endtrans %}</h1>
{% endblock %}

