{% set nav_top = 'terms' %}
{% trans_default_domain 'base' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.terms{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}title.terms{% endtrans %}</h1>
{% endblock %}

