{% set nav_top = 'admin_workflow' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}workflow.title.export{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}workflow.title.export{% endtrans %}</h1>

    <p>{% trans %}workflow.message.export{% endtrans %}</p>

    <div class="jumbotron" style="padding: 1rem 2rem;"><strong>On-the-fly generated config file.</strong><br />&nbsp;<br /><pre><code>{{ config }}</code></pre></div>
{% endblock %}