{% set nav_top = 'bbs_profile' %}
{% trans_default_domain 'bbs' %}
{% extends 'bbs.html.twig' %}

{% block title %}{% trans %}title.profile{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.profile{% endtrans %}</h1>

    {{ form(form) }}

    <a href="{{ path('profile_own') }}" class="btn btn-danger">{% trans from 'base' %}btn.cancel{% endtrans %}</a>

{% endblock %}