{% set nav_top = 'bbs_profile' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}bbs.title.profile{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}bbs.title.profile{% endtrans %}</h1>
{% endblock %}

