{% set nav_top = 'account_register' %}
{% trans_default_domain 'base' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.accountapplication{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.accountapplication{% endtrans %}</h1>

    <p></p>

    {{ form(form) }}
{% endblock %}

