{% set nav_top = 'admin' %}
{% set nav_main = 'admin_user' %}
{% trans_default_domain 'base' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.admin.users{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}title.admin.users{% endtrans %}</h1>

    {{ form(form) }}

    {% if showRoleSelector %}
    {% set item = user %}
    {% set target_attach_role = 'admin_user_attach_role' %}
    {% set target_remove_role = 'admin_user_remove_role' %}
    {% set roles = item.getRawRoles() %}
    {% include '_elements/form_roleselector.html.twig' %}

    {% endif %}
{% endblock %}