{% set nav_top = 'admin_role' %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rollenverwaltung</h1>

    {% if role %}
    <table class="table table-striped">
        <tr>
            <td><strong>Name</strong></td>
            <td>{{ role.name }}</td>
        </tr>
        <tr>
            <td><strong>Geschützt</strong></td>
            <td>{% if role.isProtected == true %}Ja{% else %}Nein{% endif %}</td>
        </tr>
        <tr>
            <td><strong>Created</strong></td>
            <td>{{ role.createdOn|format_datetime('medium', 'short', locale='de') }}</td>
        </tr>
        <tr>
            <td><strong>Updated</strong></td>
            <td>{{ role.updatedOn|format_datetime('medium', 'short', locale='de') }}</td>
        </tr>
        <tr>
            <td colspan="2"><a href="{{ path("admin_role_edit", {id : role.id}) }}" class="btn btn-outline-dark">bearbeiten</a></td>
        </tr>
    </table>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Die gesuchte Rolle existiert nicht
        </div>
    {% endif %}
{% endblock %}
