{% set nav_top = 'item' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}item.title.item{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}item.title.item{% endtrans %}</h1>

    {{ form(form) }}

{% endblock %}