{% set nav_top = 'bbs_settings' %}
{% trans_default_domain 'bbs' %}
{% extends 'bbs.html.twig' %}

{% block title %}{% trans %}title.settings{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}title.settings{% endtrans %}</h1>
{% endblock %}

